
<div class="content" id="home">
  <div class="page-header">
    <h1>Backbone socket.io demo</small></h1>
  </div>

  <div class="row">
    <div class="span6">
      <p>
        A simple demo of twitter streaming api with backbone, express and socket.io
      </p>
      <div class="instructions">
        <h3>enter anything in the search box and hit enter</h3>
      </div>
    </div>

    <div class="span5 offset1">
      <a href="https://github.com/madhums/backbone-socketio-demo" class="btn btn-large btn-primary">
        <i class="icon-random icon-white"></i>
        &nbsp;Fork me on github
      </a>
    </div>
  </div>

</div>
