
<div class="content" id="search-results">
  <!-- <div class="page-header">
    <div class="row">
      <div class="span12">
        <form class="form-inline" id="tweet-form">
          <textarea class="input-xxlarge pull-left" id="textarea" placeholder="What's on your mind?" rows="3"></textarea>
          <div class="btn-group pull-left">
            <a class="btn not-ready" href="#"><i class="icon-user"></i> Tweet</a>
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#" class="not-ready"><i class="icon-envelope"></i> Dierct Message</a></li>
              <li><a href="#" class="not-ready"><i class="icon-plus-sign"></i> Save for later</a></li>
              <li class="divider"></li>
              <li><a href="#" class="not-ready"><i class="icon-share-alt"></i> Share</a></li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </div> -->

  <div class="row">
    <div class="span8">
      <h2>Search results for {{term}} <span></span></h2>
      <div id="stream"></div>
      &nbsp;
    </div>
    <!-- <div class="span4" id="sidebar">
      <h2>Saved searches</h2>
    </div> -->
  </div>

</div>
